@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
:root {
  --background-color-primary: #000000;
  --background-color-secondary: #0f0f0f;
  --color-primary: #bababa;
}

:root {
  --font-size-primary: 44rem;
  --font-size-secondary: 2rem;
  --card-padding: 2rem 4rem 4rem 4rem;
  --card-radius: 4rem;
  --divider-height:0.5rem;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  font-family: "Oswald", sans-serif !important;
  background: var(--background-color-primary);
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 2rem;
  height: 100vh;
}

.divider {
  position: absolute;
  top: 50%;
  height: var(--divider-height);
  width: 100%;
  background-color: var(--background-color-primary);
}

.clock {
  font-size: var(--font-size-primary);
  line-height: var(--font-size-primary);
  color: var(--color-primary);
}

.clock span {
  font-size: var(--font-size-secondary);
  line-height: var(--font-size-secondary);
}

.minutes,
.hours {
  background-color: var(--background-color-secondary);
  border-radius: var(--card-radius);
  padding: var(--card-padding);
  transition: 0.25s;
}

@media only screen and (max-width: 1850px) {
  :root {
    --font-size-primary: 38rem;
  }
}
@media only screen and (max-width: 1720px) {
  :root {
    --font-size-primary: 34rem;
    --card-radius: 3rem;
  }
}
@media only screen and (max-width: 1500px) {
  :root {
    --font-size-primary: 30rem;
    --card-padding: 1.5rem 3rem 3rem 3rem;
  }
}
@media only screen and (max-width: 1250px) {
  :root {
    --font-size-primary: 26rem;
    --card-padding: 1rem 2rem 2rem 2rem;
    --card-radius: 2rem;
    --divider-height: 0.25rem;
  }
}
@media only screen and (max-width: 1050px) {
  :root {
    --font-size-primary: 22rem;
  }
}
@media only screen and (max-width: 900px) {
  :root {
    --font-size-primary: 18rem;
    --font-size-secondary: 1rem;
  }
}
@media only screen and (max-width: 900px) {
  :root {
    --font-size-primary: 14rem;
    --card-padding: 0.5rem 1rem 1rem 1rem;
    --card-radius: 1rem;
  }
}
